#freturnbtn,
#fcheckbtn{
		background-color:rgb(255, 102, 0)!important;
		border-radius:10px;
		border: 0px solid red!important;
		color:white;
		cursor:pointer;
		font-size:14px;
		transition:.5s;
		-o-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		height:36px;
		width:88px!important;
}
#freturnbtn:hover,
#fcheckbtn:hover{
	background-color:rgb(0, 153, 255)!important;
}
#projPurpose table thead tr td {
	background: none repeat scroll 0 0 #E4E4E4;
	color: #666666;
    height: 24px;   
    font-weight: bolder;
}
#projPurpose table thead tr {
	background: none repeat scroll 0 0 #E4E4E4;
}
#projPurpose table tr {
	margin: 10px 0;
}
#projPurpose table td {
	text-align: center;
}
#projPurpose table {
	font-family: "ו";
    font-weight: normal;
    margin: 10px 0;
    width:100%;
}