* {
	font-family:"Î¢ÈíÑÅºÚ";
	padding:0;
	margin:0;
}

#myTable {
	background-color:rgba(228, 228, 228, 1);
	border-radius:0;
	font-weight:bold;
	text-align:center;
}

.oTr {
	background-color:white;
	margin:3px 0;
	font-weight:normal;
}